doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Sistem Kehadiran Online ITS
        // Bootstrap CSS CDN
        link(rel='icon', href='images/favicon-1.png', type='image/gif')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
        // Font Awesome CSS CDN
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(href='css/navbar-fixed-top.css', rel='stylesheet')
        link(rel='stylesheet', href='fonts/icomoon/style.css')
        link(rel='stylesheet', href='css/jquery-ui.css')
        link(rel='stylesheet', href='css/owl.carousel.min.css')
        link(rel='stylesheet', href='css/owl.theme.default.min.css')
        link(rel='stylesheet', href='css/owl.theme.default.min.css')
        link(rel='stylesheet', href='css/bootstrap-datepicker.css')
        link(rel='stylesheet', href='fonts/flaticon/font/flaticon.css')
        link(rel='stylesheet', href='css/aos.css')
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', type='text/css', href='css/util.css')
        link(rel='stylesheet', type='text/css', href='css/main.css')
    body
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    // <img style="width:5%; length:10%" src="assets/images/its.png" alt="">
                    a.navbar-brand(href='dashboard')
                        // ?php echo $web-
                        | Sistem Kehadiran Online
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li.if(class="<?php ($this->uri->segment('1') == 'dashboard') {echo 'active';} ?>")
                            a(href='dashboard') Dashboard
                        li.if(class="<?php ($this->uri->segment('1') == 'pengajuan') {echo 'active';} ?>")
                            a(href='rekap') Rekap
                        li
                            a(href='logout') Logout
        .container
            .row
                .btn-group.float-right(style='float:right;')
                    ol.breadcrumb.hide-phone.p-0.m-0
                        li.breadcrumb-item Selamat Datang,
                        li.breadcrumb-item.active Nama User
            #features-section.site-section.bg-light
                .container
                    .row.mb-5
                        .col-12.text-center
                            h2.section-title.mb-3 Tabel Kehadiran
                            //- a(href='/logout') Logout
                        br
                    .table100.ver1.m-b-110
                        .table100-head
                            table
                                thead
                                    tr.row100.head
                                        th.cell100.column1 Nama Kelas
                                        th.cell100.column2 Pertemuan
                                        th.cell100.column3 Jam
                                        th.cell100.column4 Dosen
                                        th.cell100.column5 Keterangan
                        .table100-body.js-pscroll
                            table
                                tbody
                                    tr.row100.body
                                        td.cell100.column1 PBKK G
                                        td.cell100.column2 1
                                        td.cell100.column3 9:00 AM - 11:00 AM
                                        td.cell100.column4 Ridho Rahman Hariadi
                                        td.cell100.column5  
                                    tr.row100.body
                                        td.cell100.column1 PBKK G
                                        td.cell100.column2 2
                                        td.cell100.column3 9:00 AM - 11:00 AM
                                        td.cell100.column4 Ridho Rahman Hariadi
                                        td.cell100.column5 Diganti Kuliah Tamu
                                    tr.row100.body
                                        td.cell100.column1 PBKK G
                                        td.cell100.column2 3
                                        td.cell100.column3 9:00 AM - 11:00 AM
                                        td.cell100.column4 Ridho Rahman Hariadi
                                        td.cell100.column5 Libur Nasional
            hr
            .footer
                p
                    strong Sistem Kehadiran ITS
                    | ©
                    | 2019
        // view Modal
