doctype html
html
    head
        title LOGIN FORM
        link(rel="stylesheet" href="/stylesheets/login.css")
    body
        .container
        
            h1(style="text-align:center")#registerForm Login Form
            .login
                form(action="/users/login" method="POST")
                    p
                        input(type="text" name="username" placeholder="username")
                    p
                        input(type="password" name="password" placeholder="password")
                    p.submit
                        input( type="submit")
            